/* ----------------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 40px 0; }

/*------Headings--------*/

h1 {
    color: #eee;
    font-size: 450%;
    font-weight: 200;
    margin-top: 210px;
    padding-left: 15%;
    cursor: default;
    text-align: right;
}

h1 span {
    float: right;
    font-size: 200%;
    padding: 200px 10% 200px 2%;
    margin-top: -50px;
    background-image: radial-gradient(#fff, #fff, transparent, transparent), radial-gradient(#fff, #fff, transparent, transparent);
    background-size:	2px 100%;
    background-position: 0 0;
    background-repeat:	no-repeat;
    margin-left: 2%;
}

.header-2:after {
    content: " ";
    width: 25%;
    margin: 10px auto 30px auto;
    height: 2px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,#e67e22 50%,rgba(0,0,0,0) 100%);
}

h2,
h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 { font-weight: 300; }
h3 { font-weight: 400; }

/*---------Paragraphs---------*/

.long-copy {
    width: 70%;
    margin: 30px auto;
    text-align: center;
}

/* ----------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/cincinnati-bridge-min.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}

.main-nav {
    list-style: none;
    float: right;
}

.main-nav li {
    display: inline-block;
    margin: 20px 0 0 30px;    
}

.main-nav li a hr {
    height: 1px;
    border: none;
    margin-top: 5px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #eee;
    text-decoration: none;
}

.main-nav li a:hover hr,
.main-nav li a:active hr { 
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,#e67e22 50%,rgba(0,0,0,0) 100%);
}

/* ----------------------------------------------------- */
/* ABOUT */
/* ----------------------------------------------------- */

.about-col {
    margin-top: 30px;
    padding: 0 2%;
}

.about-col h3 {
    text-align: center;
    margin: 20px 0;
}

.about-col p {
    text-align: justify;
}

.icon-big {
    color: #e67e22;
    font-size: 375%;
    margin-left: 40%;
    transition: color .5s;
}

/* ----------------------------------------------------- */
/* GALLERY PICS */
/* ----------------------------------------------------- */

.gallery-pics{
    padding: 0;
}

.showcase {
    width: 100%;
    list-style: none;
}

.showcase li {
    display: block;
    float: left;
    width: 20%;
}

.showcase-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.showcase-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.05);
    transition: transform 0.5s, opacity 0.5s;
}

.showcase-photo img:hover {
    opacity: .99;
    transform: scale(1.15);
}

/* ----------------------------------------------------- */
/* APPS */
/* ----------------------------------------------------- */

.gallery-apps {
    background-color: #f3f3f3;
    background-size: cover;
    padding-top: 15%;
    background-attachment: fixed;
}

.app {
    position: relative;
    width: 50%;
}

.app-span:link,
.app-span:visited {
    color: #e67e22;
}

.app-span:hover,
.app-span:active {
    color: #333;
}

.app-link:link,
.app-link:visited {
    color: #b4631c;
    transition: color 0.5s;
    font-weight: 400;
    font-size: 95%;
}

.app-link:hover,
.app-link:active {
    color: #e67e22;
}

.gallery-apps a span {
    font-size: 70%;
    position: absolute;
    left: 15px;
    top: 220px;
    color: #e67e22;
    transition: color 0.5s;
}

.app-mid span {
    left: 67% !important;
    top: 210px !important;
}

.gallery-apps a:hover span {
    color: #b4631c;
}

.app-thumb {
    float: left;
    height: 140px;
    width: auto;
    position: absolute;
    top: 45px;
    left: 5%;
}

.app-thumb-mid {
    float: right;
    left: 67%;
}

.app h3,
.app p {
    float: right;
    margin-right: -30%;
    margin-bottom: 10px;
}

.app p,
.app-mid p{
    width: 90%;
    text-align: justify;
}

.app h3,
.app-midh3 { width: 100%; }

.app-mid h3,
.app-mid p {
    float: left;
    margin-left: 0;
}

/* ----------------------------------------------------- */
/* SITES */
/* ----------------------------------------------------- */

.gallery-sites {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url(img/9728747916_1632619f9a_h.jpg);
    background-attachment: fixed;
}


.web-link {
    color: #555;
    text-decoration: none;
}

.web-link hr {
    height: 1px;
    width: 50%;
    border: none;
    margin: 5px auto 0 auto;
}

.web-link:hover hr,
.web-link:active hr { 
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,#e67e22 50%,rgba(0,0,0,0) 100%);
}

.website img {
    width: 80%;
    margin-left: 10%;
    border: 2px solid #555;
}

.website p {
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    padding: 10px;
    min-height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 35px #fff;
}

/* ----------------------------------------------------- */
/* PROFILE PIC */
/* ----------------------------------------------------- */

.profile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .8)), url(img/night-bridge-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    height: 500px;
}

.pic-div {
    width:250px;
    margin: 20px auto;
}

.profile-pic {
    height: 250px;
    width: 250px;
    border: 10px solid #ccc;
    border-radius: 500px;
}

.profile h2 {
    color: #ccc;
}

/* ----------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------- */

footer {
    background-color: #222;
    padding-top: 40px;
}

.social-links {
    width: 80%;
    padding-bottom: 15px;
    text-align: center;
}

.social-links:before {
    content: " ";
    width: 60%;
    height: 1px;
    margin: 10px auto 15px auto;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,#777 50%,rgba(0,0,0,0) 100%);
}

footer a:link,
footer a:visited {
    color: #777;
    font-size: 150%;
}

footer a:hover,
footer a:active {
    color: #e67e22;
}

footer p {
    padding: 15px 0;
    text-align: center;
    font-size: 80%;
    color: #777;
}


/* ----------------------------------------------------- */
/* TIC TAC TOE */
/* ----------------------------------------------------- */

#game {
    background-color: #E67E22;
    background-size: cover;
    height: 100vh;
}

#game h1 {
    margin-top: 0;
    width: 100%;
    background-color: #2C3E50;
    padding: 50px 0 25px 0;
    text-align: center;
    font-size: 200%;
    color: #E67E22;
    box-shadow: 0 3px 10px #777;
}

#game main {
    height: 85vh;
    background-color: #ddd;
}

#game .board {
    display: inline-block;
    position: absolute;
    top: 250px;
}

#game p {
    text-align: center;
    color: #555;
    margin: -22px 0 22px 0;
}

#game table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
}

#game .current {
    margin-left: 4%;
    margin-right: 4%;
    width: 40%;
    left: 26%;
    color: #E67E22;
}

#game .current table {
    background-color: #FFFFFF;
}

#game .next {
    float: right;
    width: 25%;
    left: 72%;
}

#game .done {
    float: left;
    left: 0;
    width: 25%;
    opacity: 0;
}

#game .done p {
    color: #CA6B17;
}

#game td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    height: 70px;
    width: 70px;
}

#game .next td {
    background-color: #CCCCCC;
}

#game .top, .middle {
    display: block;
    border-bottom: 3px solid #000000;
}

#game .bot {
    display: block;
}

#game .lft, .mid {
    border-right: 3px solid #000000;
}


#game #clear {
   height: 45px;
   width: 14%;
   background-color: #E67E22;
   border: none;
   color: #ddd;
   position: absolute;
   top: 520px;
   left: 43%;
   font-size: 90%;
   transition: background-color 1s;
}

#game #clear:hover {
    background-color: #CA6B17;
}

#game footer {
    background-color: #E67E22;
    height: 15vh;
    margin: 0;
    font-size: 65%;
    text-align: center;
    color: #333;
    font-weight: 500;
    box-shadow: 0 -3px 10px #777;
}

#game footer a {
    color: #2C3E50;
    text-decoration: none;
    font-size: 130%;
}

#game footer p {
    margin: -25px auto 10px auto;
    width: 15%;
    border-bottom: 1px solid #333;
    padding: 10px;
}

#game .hidden {
    width: 10%;
    padding: 3% 2%;
    text-align: center;
    background-color: #F4B350;
    position: absolute;
    top: 28%;
    left: 45%;
    box-shadow: 0 0 25px #777;
    color: #2C3E50;
    visibility: hidden;
}

#game .continue {
    background-color: transparent;
    border: none;
    font-size: 80%;
    font-weight: 500;
    width: 100%;
    padding-top: 15px;
    transition: color 0.5s;
    cursor: pointer;
}

#game .continue:hover {
    color: #ddd;
}
